*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display:grid;
    grid-template: ;
    min-height: 100vh;
}

.container{
    min-height: 400px;
    display:grid;
    grid-template-columns: repeat(1, 1fr 2fr);
    grid-auto-rows: minmax(100px auto);
    gap: 1rem;
}

.box{
    background-color: #333;
    color:#fff;
    font-size: 2rem;
    padding: 0.5rem;
}